<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.png" class="logo"/></a>
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <!-- Burger menu button for mobile -->
            <button class="burger-menu" id="burger-menu" onclick="toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
            <div class="left-nav">
                <!-- Desktop menu -->
                <div class="ui secondary menu inverted desktop-menu">
                    <a class="item" href="/">
                        Home
                    </a>
                    <a class="item" href="/talks.html">
                        Talks
                    </a>
                    <a class="item" href="/publications.html">
                        Publications
                    </a>
                    <a class="item" href="/about.html">
                        About
                    </a>
                    <a class="item" href="/archive.html">
                        Archive
                    </a>
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Search..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div>

                        <!-- <a class="item" href="http://stallman.org/facebook.html">
                            <i class="facebook link icon"></i>
                        </a>-->
                        <a class="item" href="https://www.youtube.com/user/TheMarcoag">
                            <i class="youtube link icon"></i>
                        </a>
                        <a class="item" href="https://twitter.com/marcoagutier">
                            <i class="twitter link icon"></i>
                        </a>
                        <a class="item" href="https://www.linkedin.com/in/marcogg">
                            <i class="linkedin link icon"></i>
                        </a>
                        <a class="item" href="https://github.com/marcoag">
                            <i class="github link icon"></i>
                        </a>
                        <a class="item" href="/feed.xml">
                            <i class="rss link icon"></i>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu (hidden by default) -->
                <div class="mobile-menu" id="mobile-menu">
                    <a class="mobile-item" href="/" onclick="closeMobileMenu()">Home</a>
                    <a class="mobile-item" href="/talks.html" onclick="closeMobileMenu()">Talks</a>
                    <a class="mobile-item" href="/publications.html" onclick="closeMobileMenu()">Publications</a>
                    <a class="mobile-item" href="/about.html" onclick="closeMobileMenu()">About</a>
                    <a class="mobile-item" href="/archive.html" onclick="closeMobileMenu()">Archive</a>
                    
                    <div class="mobile-social">
                        <a class="mobile-social-item" href="https://www.youtube.com/user/TheMarcoag">
                            <i class="youtube link icon"></i>
                        </a>
                        <a class="mobile-social-item" href="https://twitter.com/marcoagutier">
                            <i class="twitter link icon"></i>
                        </a>
                        <a class="mobile-social-item" href="https://www.linkedin.com/in/marcogg">
                            <i class="linkedin link icon"></i>
                        </a>
                        <a class="mobile-social-item" href="https://github.com/marcoag">
                            <i class="github link icon"></i>
                        </a>
                        <a class="mobile-social-item" href="/feed.xml">
                            <i class="rss link icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>
